# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
lib/firebase_options.dart

# Environment variables and sensitive files
**/.env
**/assets/.env
**/secret.json
**/google-services.json
**/GoogleService-Info.plist

# Node.js
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

# Build outputs
functions/lib/ 