<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBueL0z2elc9NkDh-mv66PDhcWhZlTL3bo</string>
	<key>GCM_SENDER_ID</key>
	<string>723708655722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberHealthApp</string>
	<key>PROJECT_ID</key>
	<string>uber-health-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-health-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723708655722:ios:da2b0cc2619d5b3cc2f213</string>
</dict>
</plist>